{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content content-form">
    <div class="images">
        <img id="image" src="{{ photo }}" style="display: none;">
    </div>
    <hr></hr>
<div>

    {{ form.non_field_errors }}
    <form method="{{ method|default:'POST'}}" action="{{ action }}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <table class="form-table">
            <tbody>
            {% for field in form.visible_fields %}
                <tr>
                    <th class="col-2-12">{{ field.label_tag }}</th>
                    <td class="col-10-12">
                        {{ field }}

                        {% if field.field.required %}
                            <span class="required">*</span>
                        {% endif %}

                        {% if field.help_text %}
                            <span class = 'helptext'>{{ field.help_text }}</span>
                        {% endif %}

                        {{ field.errors }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr></hr>
        
        <table class="form-table">
            <tbody>
                <tr>
                <th class="col-2-12"></th>
                <td class="col-10-12">
                <button class="button">
                    <i class="fa fa-floppy-o white fa-fw"></i> {{ button_text|default:'Save' }}</button>
                </td>
                </tr>
            </tbody>
        </table>

    </form>

</div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower/bower_components/viewerjs/dist/viewer.css' %}" />
{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'bower/bower_components/viewerjs/dist/viewer.js' %}"></script>
    
    <script>
        var options = {
            "inline": true,
            "title": false,
            "fullscreen": false,
            "keyboard": false,
            "movable": false,
            "tooltop": false,
            "navbar": false,
            "button": false,
        }
        var viewer = new Viewer(document.getElementById('image'), options);
    </script>

{% endblock %}

