{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block extra_header %}<meta http-equiv="refresh" content="60" />{% endblock %}

{% block content %}
<div class="content">
<form class="search-form" action='' method='GET' id="options__content">
    {% csrf_token %}
    <table>
        <tr>
            <td class="tdinput" colspan="2">
                <input type="text" name="query" {% if query %}value = '{{ query }}'{% endif %}
                placeholder="Search by order code or user name">
            </td>
        </tr>
        <tr><td class="first">Status </td> <td>{{ form.status }}</td></tr>
        </tr>
    </table>
</form>

{% if alert_sound %}
    <audio id="audio" src="/static/sound/beep.ogg" autoplay></audio>
{% endif %}

<div class="table-wrapper">
<table class="data-table">
    <thead>
        <tr>
            <th>Order Code</th>
            <th>User</th>
            <th>Created Date</th>
            <th>Status</th>
        </tr>
    </thead>
    {% for confirmation in confirmations %}
    <tr>
        <td>
        {% if confirmation.status == confirmation.STATUS.new %}
            <a class="id" href="{% url 'backoffice:payment_confirmations:verified' confirmation.id %}"> {{ confirmation.order.code }} </a>
        {% else %}
            {{ confirmation.order.code }}
        {% endif %}</td>
        <td>{{ confirmation.order.user.name  }}</td>
        <td>{{ confirmation.created|date:'d M Y, H:i'  }}</td>
        <td>{{ confirmation.get_status_display }}
        {% if confirmation.status != confirmation.STATUS.new %}
             ({{ confirmation.correction_by.name }})
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if paginator.next or paginator.previous %}
<div class="pagination">
    {% if paginator.previous %}
        <a class="prev" href="?page={{ paginator.previous }}{{ query_parameters }}" class="prev">‹ Prev </a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="?page={{ paginator.next }}{{ query_parameters }}"  class="next">Next ›</a>
    {% endif %}
</div>
{% endif %}
<div class="clear"></div>
</div>

</div>
{% endblock %}

{% block extra_javascript %}
    <script>
        $(document).on('click', '#id_status', function(event) {
            $('.search-form').submit()
        });

    </script>
{% endblock %}