{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title %}{{ tittle }} {% endblock %}

{% block content %}
<div class="content">

	<h2 class="customer-name"> {{ payment.invoice_number }} </h2> 
	<p>{{ payment.time|date:"j M Y, H:i" }}</p>

	<div class="clear"> </div>

	<hr></hr>
	<table class="data-detail">
		<tr><th>Order code</th> <td class="colon">:</td> <td> 
			<a class="id" href="{% url 'backoffice:orders:detail' payment.order.id %}"> 
			{{ payment.order.code }} </a>
		</td></tr>
		<tr><th>Value</th> <td class="colon">:</td> <td> {{ payment.value }} </td></tr>
		<tr><th>Balance</th> <td class="colon">:</td> <td> {{ payment.balance_used }} </td></tr>
		<tr><th>Method</th> <td class="colon">:</td> <td>{{ payment.get_method_display }}</td></tr>
		<tr><th>Notes</th> <td class="colon">:</td> <td>{{ payment.notes }}</td></tr>
		<tr><th>Created by</th> <td class="colon">:</td> <td>{{ payment.created_by }}</td></tr>
	</table>

	<hr></hr>
	
</div>

<div class="clear"> </div>
{% endblock %}