{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
<form class="search-form" action='' method='GET' id="options__content">
    {% csrf_token %}
    <table>
        <tr>
            <td class="button_add">
                <a class="button" href="{% url 'backoffice:customers:add' %}"><i class="fa fa-plus-circle white fa-fw"></i> Add</a>
            </td>
            <td class="tdinput" colspan="2">
                <input type="text" name="query" {% if query %}value = '{{ query }}'{% endif %}
                placeholder="Search by username, name or mobile number">
            </td>
        </tr>
    </table>
</form>

<div class="table-wrapper">
<table class="data-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Mobile Number</th>
        </tr>
    </thead>
    {% for user in users %}
    <tr>
        <td><a class="id" href="{% url 'backoffice:customers:detail' user.id %}"> 
        {{ user.username }} </a></td>
        <td>{{ user.name }}</td>
        <td>{{ user.mobile_number }}</td>
    </tr>
    {% endfor %}
</table>
</div>

</div>
{% endblock %}