{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}{{ tittle }} {% endblock %}

{% block content %}
<div class="content">
	<h2 class="customer-name"> Detail Balance #{{ balance.id }} </h2> 

	<div class="clear"> </div>
	<hr></hr>
	<table class="data-detail">
		<tr><th>Value</th> <td class="colon">:</td> <td> {{ balance.value|floatformat:0|intcomma }} </td></tr>
		<tr><th>Time</th> <td class="colon">:</td> <td> {{ balance.created|date:"j M Y, H:i"}}</td></tr>
		<tr><th>Status</th> <td class="colon">:</td> <td>{{ balance.get_status_display }}</td></tr>
		<tr><th>Type</th> <td class="colon">:</td> <td>{{ balance.get_type_display }}</td></tr>
		{% if balance.order %}
		<tr><th>Order</th> <td class="colon">:</td> <td><a class="id" href="{% url 'backoffice:orders:detail' balance.order_id %}"> {{ balance.order.code }} </a></td></tr>
		{% endif %}
		<tr><th>Created By</th> <td class="colon">:</td> <td>{{ balance.created_by }}</td></tr>
		{% if balance.canceled_by %}
		<tr><th>Canceled By</th> <td class="colon">:</td> <td>{{ balance.canceled_by }}</td></tr>
		{% endif %}
		<tr><th>Notes</th> <td class="colon">:</td> <td>{{ balance.notes }}</td></tr>
	</table>
</div>

<div class="clear"> </div>
{% endblock %}