{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
<form class="search-form" action='' method='GET' id="options__content">
    {% csrf_token %}
    <table>
        <tr>
            <td class="tdinput" colspan="6">
                <input type="text" name="query" {% if query %}value = '{{ query }}'{% endif %}
                placeholder="Search by QR code or Transport ID or Mobile Number">
            </td>
        </tr>
        <tr><td class="first">Start Date </td> <td class="form_date">{{ form.start_date }}</td><td class="label_date" >End Date</td><td class="form_date">{{ form.end_date }}</td><td colspan="10">{{ form.end_date.errors }} </td></tr>
        <tr><td class="first">Destination </td> <td colspan="6">{{ form.destinations }}</td></tr>
        <tr><td class="first">Tourist Type </td> <td colspan="6">{{ form.type }}</td></tr>
        <tr><td class="first">Transport Type </td> <td colspan="6">{{ form.transport }}</td></tr>
        <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
        <tr><td></td><td><button class="button">Generate Data</button></td><td>{{ form.print_report }}  Download Excel</td></tr></tr>
    </table>
</form>

<div class="table-wrapper">
<div class="summary">
    <p class="title">Total Retribution : {{ total_retributions }} transaksi</p>
    <p class="title">Total Customer : {{ total_customer }} orang</p>
    <p class="title">Total Transaction : Rp. {{ total_transaction|floatformat:0|intcomma }} </p>
</div>

<table class="data-table">
    <thead>
        <tr>
            <th>QR Code</th>
            <th>Destination</th>
            <th>Type</th>
            <th>Transport</th>
            <th>Date</th>
            <th>Qty</th>
        </tr>
    </thead>
    {% for retribution in retributions %}
    <tr>
        <td><a class="id" href="{% url 'backoffice:retributions:detail' retribution.id %}"> {{ retribution.qr_code }} </a></td>
        <td><a class="id" href="{% url 'backoffice:destinations:detail' retribution.destination_id %}"> {{ retribution.destination.name }} </a></td>
        <td>{{ retribution.get_type_display }}</td>
        <td>{{ retribution.get_transport_display|default:'-' }}</td>
        <td>{{ retribution.created|date:"j M Y" }}, {{ retribution.created|time:"H:i" }}</td>
        <td>{{ retribution.quantity }}</td>
    </tr>
    {% endfor %}
</table>

{% if paginator.next or paginator.previous %}
<div class="pagination">
    {% if paginator.previous %}
        <a class="prev" href="?page={{ paginator.previous }}{{ query_parameters }}" class="prev">‹ Prev </a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="?page={{ paginator.next }}{{ query_parameters }}"  class="next">Next ›</a>
    {% endif %}
</div>
{% endif %}
<div class="clear"></div>
</div>

</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower/bower_components/datetimepicker/jquery.datetimepicker.css' %}" />
{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'bower/bower_components/datetimepicker/build/jquery.datetimepicker.full.js' %}"></script>
    <script>
        var today = new Date();
        $('#id_start_date,#id_end_date').datetimepicker({
            timepicker:false,
            format:'Y/m/d',
            maxDate : today
        });
    </script>

{% endblock %}
