{% load staticfiles %}
{% load humanize %}
{% load compress %}
<html>

<head>
	<title>Print Retribution</title>
	<link rel="icon" href="{% static 'img/icon/icon.ico' %}" type="image/x-icon">
	{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}" />
		<link rel="stylesheet" type="text/x-scss" href="{% static 'css/print.scss' %}" media="print" />
	{% endcompress %}
</head>

<body>

<div>
	<table class="data-detail">
		<tr><td align="center">{{ retribution.destination.name|upper }}</td></tr>
		<tr><td align="center">{{ retribution.destination.address|capfirst }}</td></tr>
		<tr><td align="center">KABUPATEN SUKABUMI</td></tr>
		<tr><td align="center">========================================</td></tr>
		<tr><td align="center">{{ retribution.created|date:"m/d/Y, H:i" }}</td></tr>
		<tr><td align="center">
			<img src="{% static 'img/barcode_img.jpg' %}"></td></tr>
		<tr><td align="center">{{ retribution.qr_code }}</td></tr>
		<tr><td align="center">Wisatawan : {{ retribution.get_type_display }}</td></tr>
		<tr><td align="center">Jumlah : {{ retribution.quantity }} orang @ Rp.2.500</td></tr>
		{% if retribution.transport %}
		<tr><td align="center">Kendaraan : {{ retribution.get_transport_display }} ({{ retribution.transport_id }})</td></tr>
		{% endif %}
		<tr><td align="center">Rp.  {{ retribution.price|floatformat:0|intcomma }}</td></tr>
		<tr><td align="center">=========================================</td></tr>
		<tr><td align="center">SELAMAT DATANG</td></tr>
		<tr><td align="center">GUNAKAN KUNCI TAMBAHAN</td></tr>
	</table>
<div>

</body>
</html>

{% block extra_javascript %}
    <script>
        window.onload = function() { 
        	setTimeout(function() { window.print(); }, 900); 
        }
    </script>
{% endblock %}
