{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
	<div class="dropdown detail-right">
    	<span class="box"><i class="fa fa-list white fa-fw"></i></span>
    	<div class="dropdown-content box">
    		{% if order.status = order.STATUS.confirmed or order.status = order.STATUS.in_progress and order.total_booking < order.service.max_booking %}
        		<a href="{% url 'backoffice:bookings:add' order.id %}"><i class="fa fa-calendar white fa-fw"></i> Add 
        	Booking </a>
        	{% endif %}

        	{% if not order.completed_paid %}
        	<a href="{% url 'backoffice:payments:add' order.id %}"><i class="fa fa-money white fa-fw"></i> Add Payment </a>
        	{% endif %}

        	{% if order.can_canceled %}
        	<a href="{% url 'backoffice:orders:cancel' order.id %}"><i class="fa fa-times-circle white fa-fw"></i> Cancel</a>
        	{% endif %}

        	<a href="{% url 'backoffice:orders:invoice_print' order.id %}" target="_blank"><i class="fa fa-print white fa-fw"></i> Print </a>
    	</div>
	</div>

	<img class="round" src="/static/img/icon/user_icon.jpg">

	<h2 class="customer-name"> {{ order.code }} </h2> 
	<p>{{ order.created|date:'d, M Y' }}</p>
	
	<div class="clear"> </div>
	<h3 class="title-section"> Detail </h3>
	<hr></hr>
	<table class="data-detail">
		<tr><th>User</th> <td class="colon">:</td> 
			<td> <a class="id" href="{% url 'backoffice:customers:detail' order.user.id %}">
			{{ order.user.name|capfirst }} </td></tr>
		<tr><th>Service</th> <td class="colon">:</td> 
			<td> <a class="id" href="{% url 'backoffice:services:detail' order.service.id %}">
			{{ order.service.name }} </a></td></tr>
		<tr><th>Number of booking </th> <td class="colon">:</td> 
			<td> {{ order.total_booking|floatformat:0 }} of {{ order.service.max_booking|floatformat:0 }} </td></tr>
		<tr><th>Status</th> <td class="colon">:</td> 
			<td> {{ order.get_status_display }} </td></tr>
		<tr><th>Price</th> <td class="colon">:</td> 
			<td> {{ order.service.price|floatformat:0|intcomma }} </td></tr>
		{% if order.discount %}
		<tr><th>Promotion Code</th> <td class="colon">:</td> 
			<td> {{ order.promotion_code }} </td></tr>
		<tr><th>Discount </th> <td class="colon">:</td> 
			<td> {{ order.discount|floatformat:0|intcomma }} </td></tr>
		<tr><th>Discouunted Price </th> <td class="colon">:</td> 
			<td> {{ order.discounted_price|floatformat:0|intcomma }} </td></tr>
		{% endif %}
		<tr><th>Total Payment </th> <td class="colon">:</td> 
			<td> {{ order.total_payment|floatformat:0|intcomma }} </td></tr>
		<tr><th>Remaining Payment </th> <td class="colon">:</td> 
			<td> {{ order.remaining_payment|floatformat:0|intcomma }} </td></tr>
		<tr><th>Payment Status </th> <td class="colon">:</td> 
			<td> {% if order.completed_paid %} Completed {% else %} Uncompleted {% endif %} </td></tr>
		{% if order.balance_reversed %}
		<tr><th>Returned Payment </th> <td class="colon">:</td> 
			<td> Returned </td></tr>
		{% endif %}
	</table>
	
	<div class="clear"> </div>
	<h3 class="title-section"> Bookings </h3>
	<table class="data-table">
		<thead>
	        <tr>
	            <th>Code</th>
	            <th>Time</th>
	            <th>Store</th>
	            <th>Therapist</th>
	           	<th>Status</th>
	        </tr>
    	</thead>
    	{% for booking in bookings %}
	    <tr>
	        <td><a class="id" href="{% url 'backoffice:bookings:detail' booking.id %}">{{ booking.code }} </a></td>
	        <td>{{ booking.date|date:"d, M Y" }}</td>
	        <td>{{ booking.store.name }}</td>
	        <td>{{ booking.therapist }}</td>
	       	<td>{{ booking.get_status_display }}</td>
	    </tr>
	    {% endfor %}
	</table>


	<div class="clear"> </div>
	<h3 class="title-section"> Payment History </h3>
	<table class="data-table">
		<thead>
	        <tr>
	            <th>Code</th>
	            <th>Time</th>
	            <th>Balance Used</th>
	            <th>Nominal Cash</th>
	        </tr>
    	</thead>
    	{% for payment in payments %}
	    <tr>
	        <td><a class="id" href="{% url 'backoffice:payments:detail' payment.id %}">{{ payment.code }} </a></td>
	        <td>{{ payment.time|date:"j M Y, H:i" }}</td>
	       	<td>{{ payment.balance_used|floatformat:0|intcomma }}</td>
	        <td>{{ payment.value|floatformat:0|intcomma }}</td>
	    </tr>
	    {% endfor %}
	</table>
	<hr></hr>

	
</div>

<div class="clear"> </div>
{% endblock %}