{% load staticfiles %}
{% load humanize %}
{% load compress %}
<html>

<head>
	<title>Print Order</title>
	<link rel="icon" href="{% static 'img/icon/icon.ico' %}" type="image/x-icon">
	{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}" />
		<link rel="stylesheet" type="text/x-scss" href="{% static 'css/print.scss' %}" media="print" />
	{% endcompress %}
</head>

<body>

<div>
	<img src="/static/img/logo_print.gif" />
	<p class="address">{{ store.address }}</p>

	<p class="title-section">Detail Order</p>
	<table class="data-detail">
		<tr>
			<td class="first">No Order</td>
			<td class="colon"> : </td>
			<td>{{ order.code }}</td>
		</tr>
		<tr>
			<td class="first">Perawatan</td>
			<td> : </td>
			<td>{{ order.service.name }}</td></tr>
		<tr>
			<td class="first">Booking</td>
			<td> : </td>
			<td>{{ order.total_booking|floatformat:0 }} dari {{ order.service.max_booking|floatformat:0 }}</td>
		</tr>
		<tr>
			<td class="first">Harga</td>
			<td> : </td>
			<td>{{ order.service.price|floatformat:0|intcomma }}</td>
		</tr>
		{% if order.discount %}
		<tr>
			<td class="first">Diskon</td>
			<td> : </td>
			<td>{{ order.discount|floatformat:0|intcomma }} {{ order.promotion_code }}</td>
		</tr>
		{% endif %}
		<tr>
			<td class="first">Pembayaran</td>
			<td>:</td>
			<td> {{ order.total_payment|floatformat:0|intcomma }} dari {{ order.discounted_price|floatformat:0|intcomma }} </td>
		</tr>
	</table>

	{% if bookings %}
	<p class="title-section">Rincian Booking</p>
	<table>
		<tr>
			<td class="no">No</td>
			<td class="code">Kode</td>
			<td class="date">Tanggal</td>
			<td class="number_">Outlet</td>
		</tr>
		{% for booking in bookings %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ booking.code }}</td>
			<td>{{ booking.date|date:"d-m-y" }}</td>
			<td class="storename">{{ booking.store.name }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}

	{% if payments %}
	<p class="title-section">Rincian Pembayaran</p>
	<table>
		<tr>
			<td class="no">No</td>
			<td class="code">Code</td>
			<td class="date">Tanggal</td>
			{% if payment.balance_used %}
				<td class="number_">Saldo</td>
			{% endif %}
			<td class="number_">Cash</td>
			<td class="number_">Total</td>
		</tr>
		{% for payment in payments %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ payment.code }}</td>
			<td>{{ payment.time|date:"d-m-y H:i" }}</td>
			{% if payment.balance_used %}
				<td class="number_">{{ payment.balance_used|floatformat:0|intcomma }}</td>
			{% endif %}
			<td class="number_">{{ payment.value|floatformat:0|intcomma }}</td>
			<td class="number_">{{ payment.total|floatformat:0|intcomma }}</td>
		</tr>
		{% endfor %}
	</table>

	{% endif %}

	<p class="info">________________________________________________________</p>
	<p class="info">Terima kasih atas kunjungan anda </p>
	<p class="info">Download applikasi Rumah Totok di Playstore</p> 
	<p class="info">serta dapatkan discount dan promo menarik</p>
<div>

</body>
</html>