{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title %}{{ tittle }} {% endblock %}

{% block content %}
<div class="content">
 	<a class="button detail-right" href="{% url 'backoffice:services:edit' service.id %}"><i class="fa fa-pencil white fa-fw"></i> Edit</a>

	<img class="round" src="{% if service.treatment.icon %} {{service.treatment.icon.url}} {% else %} {% static 'img/icon/user_icon.jpg' %} {% endif %}">

	<h2 class="customer-name"> {{ service.name }} </h2> 
	<p>{% if service.is_active %}Active{% else %}Non Active{% endif %}</p>

	<div class="clear"> </div>

	<hr></hr>
	<table class="data-detail">
		<tr><th>Treatment</th> <td class="colon">:</td> <td> {{ service.treatment.name }} </td></tr>
		<tr><th>Time Needed</th> <td class="colon">:</td> <td> {{ service.time_needed }} </td></tr>
		<tr><th>Price</th> <td class="colon">:</td> <td>Rp. {{ service.price|floatformat:0|default:'0' }}</td></tr>
		<tr><th>Number Of Visit</th> <td class="colon">:</td> <td>{{ service.number_of_visit }}</td></tr>
		<tr><th>Number Of People</th> <td class="colon">:</td> <td>{{ service.number_of_people }}</td></tr>
		<tr><th>Description</th> <td class="colon">:</td> <td>{{ service.description }}</td></tr>
	</table>

	<hr></hr>
	
</div>

<div class="clear"> </div>
{% endblock %}