{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="toolbar">
        <a class="button" href="{% url 'backoffice:stores:add' %}"><i class="fa fa-plus-circle white fa-fw"></i> Add</a>
    </div>

    <div class="table-wrapper">
    <table class="data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Active</th>
            </tr>
        </thead>
        {% for store in stores %}
        <tr>
            <td><a class="id" href="{% url 'backoffice:stores:detail' store.id %}"> {{ store.name }} </a></td>
            <td>{{ store.address }}</td>
            <td>{% if store.is_active %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

</div>
{% endblock %}