{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">

	<div class="dropdown detail-right">
    	<span class="box"><i class="fa fa-list white fa-fw"></i></span>
    	<div class="dropdown-content box">
    		<a href="{% url 'backoffice:users:edit' user.id %}"><i class="fa fa-pencil white fa-fw"></i> Edit </a>
    	</div>
	</div>

	<img class="round" src="/static/img/icon/user_icon.jpg">

	<h2 class="customer-name"> {{ user.name }} </h2> 
	<p>{{ user.mobile_number }}</p>

	<div class="clear"> </div>

	<h3 class="title-section"> Profile </h3>
	<hr></hr>
	<table class="data-detail">
		<tr><th>Username</th> <td class="colon">:</td> <td> {{ user.username }} </td></tr>
		<tr><th>Email</th> <td class="colon">:</td> <td> {{ user.email }} </td></tr>
		<tr><th>Destinations</th> <td class="colon">:</td> 
		<td>{% for destination in destinations %}
                {{ destination.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}</td></tr>
	</table>
	
</div>

<div class="clear"> </div>
{% endblock %}